extends ../layout/layout-default
 .join-wrapper.wrapper
	form(name="joinForm" action="/auth/save" method="post" onsubmit="return onJoin(this)")
		ul.join-wrap
			li.list
			  .title 아이디
				.content
					input.form-control(type="text")