@import '../mixin';

.view-wrapper {
	.tb-view {
		tr {
			vertical-align: middle;
				padding: 1em;
			td {
				&.title {
					width: 10%;
					max-width: 100px;
					background-color: $colorLighter;
				}
				&.list {
					min-width: 50%-100px;
				}
			}
		}
	}
}