@use 'mixin';

.box {
	background-color: $colorBlack;
	height: 100px;
	width: 1200px;
	margin: 100px auto;
}

@include desktop {
	.box {
	color: $colorDark;
	width: 992px;
	}
}
@include laptop {
	.box {
	color: $colorGrey;
	width: 768px;
	}
}
@include tablet {
	.box {
	color: $colorLight;
	width: 100%;
	}
}